<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Erlaubt direkten Zugriff auf existierende Dateien und Verzeichnisse
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Alle anderen Anfragen zur index.html umleiten
    RewriteRule ^ index.html [L]
</IfModule>
